## Importacion desde Kaggle

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("bhanupratapbiswas/inventory-analysis-case-study")

print("Path to dataset files:", path)

c:\Users\PC\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.10)
Path to dataset files: C:\Users\PC\.cache\kagglehub\datasets\bhanupratapbiswas\inventory-analysis-case-study\versions\1

## Analisis de Bases

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
Lista_campos = list(df_PurchasePriceDesc.columns)
Lista_campos.append(list(df_BegInv.columns))
Lista_campos.append(list(df_InvoicePurchases.columns))
Lista_campos.append(list(df_PurchasesFINAL.columns))
Lista_campos.append(list(df_SalesFINAL.columns))

NameError: name 'df_PurchasePriceDesc' is not defined

In [50]:
print((Lista_campos))
type(Lista_campos)

('Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification', 'PurchasePrice', 'VendorNumber', 'VendorName', ['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'startDate'], ['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate', 'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'], ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'], ['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification', 'ExciseTax', 'VendorNo', 'VendorName'])

list

In [58]:
elementos_unicos = []
print(elementos_unicos)

[]

In [61]:
def extraer_elementos(lista):
        for elemento in lista:
            if isinstance(elemento, list):
                extraer_elementos(elemento)
            else:
                elementos_unicos.append(elemento)

In [62]:
extraer_elementos(Lista_campos)

In [67]:
elementos_unicos = list(set(elementos_unicos))
print(elementos_unicos)

['SalesDate', 'Brand', 'Freight', 'SalesDollars', 'InvoiceDate', 'Classification', 'Quantity', 'Store', 'Description', 'Volume', 'onHand', 'SalesPrice', 'SalesQuantity', 'VendorNumber', 'PurchasePrice', 'startDate', 'VendorName', 'Price', 'ExciseTax', 'VendorNo', 'ReceivingDate', 'PayDate', 'InventoryId', 'Approval', 'Size', 'Dollars', 'PODate', 'City', 'PONumber']

CAMPOS UNICOS

In [68]:
for e in elementos_unicos:
    print(e)

SalesDate
Brand
Freight
SalesDollars
InvoiceDate
Classification
Quantity
Store
Description
Volume
onHand
SalesPrice
SalesQuantity
VendorNumber
PurchasePrice
startDate
VendorName
Price
ExciseTax
VendorNo
ReceivingDate
PayDate
InventoryId
Approval
Size
Dollars
PODate
City
PONumber

### PurchasePriceDesc

tabla de productos

Tareas = hay nulos en el indice 7915 , brand 4202. Verificar si tiene venta o no, si est√° discontinuado.

In [5]:
archivotemp =  r"C:\Data Anaytics\Proyectos\Inventario\Base de datos\2017PurchasePricesDec.csv"

df_PurchasePriceDesc= pd.read_csv(archivotemp)

In [6]:
print(df_PurchasePriceDesc.head())

   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750               1
1     62     Herradura Silver Tequila  36.99  750mL    750               1
2     63   Herradura Reposado Tequila  38.99  750mL    750               1
3     72         No. 3 London Dry Gin  34.99  750mL    750               1
4     75    Three Olives Tomato Vodka  14.99  750mL    750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.28          8320  SHAW ROSS INT L IMP LTD
1          28.67          1128  BROWN-FORMAN CORP
2          30.46          1128  BROWN-FORMAN CORP
3          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4          10.94          7245  PROXIMO SPIRITS INC.

In [7]:
df_PurchasePriceDesc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [8]:
df_PurchasePriceDesc.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [12]:
print(type(df_PurchasePriceDesc.columns))

<class 'pandas.core.indexes.base.Index'>

In [17]:
lista_columnas = list(df_PurchasePriceDesc.columns)

for e in lista_columnas:
    print (e)

Brand
Description
Price
Size
Volume
Classification
PurchasePrice
VendorNumber
VendorName

In [18]:
df_PurchasePriceDesc.shape

(12261, 9)

In [19]:
df_PurchasePriceDesc.nunique()

Brand             12261
Description       11114
Price               380
Size                 56
Volume               33
Classification        2
PurchasePrice      2314
VendorNumber        131
VendorName          136
dtype: int64

Brand es el codigo de identificaci√≥n √∫nico.

In [20]:
df_PurchasePriceDesc.isnull().sum()

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [21]:
df_connulos = df_PurchasePriceDesc[df_PurchasePriceDesc.isnull().any(axis=1)]
print(df_connulos)
Filas_con_nulos = df_PurchasePriceDesc[df_PurchasePriceDesc.isnull().any(axis=1)].index.tolist() ## me trae los indices de las filas con nulos y me los convierte en una lista (esto √∫ltimo es opcional)
print(Filas_con_nulos)

      Brand Description  Price Size Volume  Classification  PurchasePrice  \
7915   4202         NaN    0.0  NaN    NaN               1          11.19

      VendorNumber                   VendorName
7915           480  BACARDI USA INC
[7915]

### Inventario

In [28]:
archivotemp2 =  r"C:\Data Anaytics\Proyectos\Inventario\Base de datos\BegInvFINAL12312016.csv"

df_BegInv= pd.read_csv(archivotemp2)

In [23]:
df_BegInv.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'startDate'],
      dtype='object')

In [27]:
print(list(df_BegInv.columns))
for e in list(df_BegInv.columns):
    print(e)

['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'startDate']
InventoryId
Store
City
Brand
Description
Size
onHand
Price
startDate

In [24]:
print(df_BegInv.head())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2016-01-01
1  750mL       7  10.99  2016-01-01
2  750mL       6  36.99  2016-01-01
3  750mL       3  38.99  2016-01-01
4  750mL       6  34.99  2016-01-01

In [37]:
df_BegInv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB

In [71]:
df_BegInv.shape

(206529, 9)

In [69]:
df_BegInv.nunique()

InventoryId    206529
Store              79
City               67
Brand            8094
Description      7291
Size               41
onHand            474
Price             329
startDate           1
dtype: int64

In [70]:
df_BegInv.isnull().sum()

InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

In [72]:
archivotemp3 =  r"C:\Data Anaytics\Proyectos\Inventario\Base de datos\EndInvFINAL12312016.csv"

df_EndInv= pd.read_csv(archivotemp3)

In [73]:
df_EndInv.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'endDate'],
      dtype='object')

In [42]:
print(df_EndInv.head())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
2  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75      1  HARDERSFIELD     75    Three Olives Tomato Vodka

    Size  onHand  Price     endDate
0  750mL      11  12.99  2016-12-31
1  750mL       7  36.99  2016-12-31
2  750mL       7  38.99  2016-12-31
3  750mL       4  34.99  2016-12-31
4  750mL       7  14.99  2016-12-31

In [43]:
df_EndInv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

In [44]:
df_EndInv.nunique()

InventoryId    224489
Store              80
City               67
Brand            9653
Description      8732
Size               47
onHand            548
Price             354
endDate             1
dtype: int64

In [45]:
df_EndInv.isnull().sum()

InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

### InvoicePurchaces

In [29]:
archivotemp4 =  r"C:\Data Anaytics\Proyectos\Inventario\Base de datos\InvoicePurchases12312016.csv"

df_InvoicePurchases= pd.read_csv(archivotemp4)

In [74]:
df_InvoicePurchases.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [75]:
for e in list(df_InvoicePurchases.columns):
    print(e)

VendorNumber
VendorName
InvoiceDate
PONumber
PODate
PayDate
Quantity
Dollars
Freight
Approval

In [48]:
print(df_InvoicePurchases.head(5))

   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight Approval
0  2015-12-21  2016-02-16         6     214.26     3.47      NaN
1  2015-12-22  2016-02-21        15     140.55     8.57      NaN
2  2015-12-24  2016-02-16         5     106.60     4.61      NaN
3  2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4  2015-12-24  2016-02-12      1935   15527.25   429.20      NaN

In [49]:
df_InvoicePurchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [50]:
df_InvoicePurchases.shape

(5543, 10)

In [51]:
df_InvoicePurchases.nunique()

VendorNumber     126
VendorName       129
InvoiceDate      373
PONumber        5543
PODate           319
PayDate          382
Quantity        2895
Dollars         5226
Freight         4052
Approval           1
dtype: int64

In [81]:
Proveedor_1128= df_InvoicePurchases[df_InvoicePurchases['VendorNumber']==1128]
print(Proveedor_1128)

      VendorNumber                   VendorName InvoiceDate  PONumber  \
6             1128  BROWN-FORMAN CORP            2016-01-09      8150
97            1128  BROWN-FORMAN CORP            2016-01-15      8210
195           1128  BROWN-FORMAN CORP            2016-01-26      8358
289           1128  BROWN-FORMAN CORP            2016-02-02      8457
387           1128  BROWN-FORMAN CORP            2016-02-06      8517
493           1128  BROWN-FORMAN CORP            2016-02-15      8689
592           1128  BROWN-FORMAN CORP            2016-02-23      8742
697           1128  BROWN-FORMAN CORP            2016-02-23      8838
804           1128  BROWN-FORMAN CORP            2016-03-02      8945
903           1128  BROWN-FORMAN CORP            2016-03-07      9017
1002          1128  BROWN-FORMAN CORP            2016-03-17      9181
1103          1128  BROWN-FORMAN CORP            2016-03-25      9215
1205          1128  BROWN-FORMAN CORP            2016-04-03      9390
1304          1128  BROWN-FORMAN CORP            2016-04-05      9416
1407          1128  BROWN-FORMAN CORP            2016-04-15      9521
1507          1128  BROWN-FORMAN CORP            2016-04-18      9672
1607          1128  BROWN-FORMAN CORP            2016-05-03      9763
1706          1128  BROWN-FORMAN CORP            2016-05-04      9848
1807          1128  BROWN-FORMAN CORP            2016-05-10     10001
1910          1128  BROWN-FORMAN CORP            2016-05-22     10035
2005          1128  BROWN-FORMAN CORP            2016-05-24     10201
2113          1128  BROWN-FORMAN CORP            2016-06-05     10224
2215          1128  BROWN-FORMAN CORP            2016-06-11     10378
2317          1128  BROWN-FORMAN CORP            2016-06-18     10480
2423          1128  BROWN-FORMAN CORP            2016-06-26     10534
2521          1128  BROWN-FORMAN CORP            2016-07-04     10666
2622          1128  BROWN-FORMAN CORP            2016-07-12     10753
2720          1128  BROWN-FORMAN CORP            2016-07-11     10839
2809          1128  BROWN-FORMAN CORP            2016-07-11     10971
2912          1128  BROWN-FORMAN CORP            2016-07-22     11109
3012          1128  BROWN-FORMAN CORP            2016-08-02     11208
3116          1128  BROWN-FORMAN CORP            2016-08-01     11311
3215          1128  BROWN-FORMAN CORP            2016-08-08     11382
3313          1128  BROWN-FORMAN CORP            2016-08-21     11458
3415          1128  BROWN-FORMAN CORP            2016-08-26     11543
3522          1128  BROWN-FORMAN CORP            2016-09-04     11668
3618          1128  BROWN-FORMAN CORP            2016-09-09     11730
3725          1128  BROWN-FORMAN CORP            2016-09-15     11920
3826          1128  BROWN-FORMAN CORP            2016-09-27     11954
3929          1128  BROWN-FORMAN CORP            2016-09-29     12076
4032          1128  BROWN-FORMAN CORP            2016-10-10     12192
4137          1128  BROWN-FORMAN CORP            2016-10-08     12256
4200          1128  BROWN-FORMAN CORP            2016-10-13     12311
4301          1128  BROWN-FORMAN CORP            2016-10-17     12412
4404          1128  BROWN-FORMAN CORP            2016-10-25     12539
4508          1128  BROWN-FORMAN CORP            2016-11-07     12675
4614          1128  BROWN-FORMAN CORP            2016-11-09     12739
4716          1128  BROWN-FORMAN CORP            2016-11-15     12852
4817          1128  BROWN-FORMAN CORP            2016-11-25     12931
4918          1128  BROWN-FORMAN CORP            2016-12-03     13077
5024          1128  BROWN-FORMAN CORP            2016-12-08     13137
5127          1128  BROWN-FORMAN CORP            2016-12-18     13321
5227          1128  BROWN-FORMAN CORP            2016-12-25     13336
5336          1128  BROWN-FORMAN CORP            2016-12-31     13466
5443          1128  BROWN-FORMAN CORP            2017-01-03     13577

          PODate     PayDate  Quantity    Dollars  Freight        Approval
6     2015-12-23  2016-02-19      4684   65403.57  1808.77             NaN
97    2015-12-27  2016-02-25     23351  298902.89  1494.51  Frank Delahunt
195   2016-01-06  2016-02-18     11443  138035.44   690.18             NaN
289   2016-01-13  2016-02-29     12899  142492.97   755.21             NaN
387   2016-01-18  2016-03-15     23217  335055.84  1708.78  Frank Delahunt
493   2016-01-29  2016-03-24     18863  250689.87  1328.66  Frank Delahunt
592   2016-02-02  2016-03-17     11876  165219.61   743.49             NaN
697   2016-02-09  2016-03-25     17574  203550.59   956.69             NaN
804   2016-02-16  2016-04-11     27342  313177.52  1691.16  Frank Delahunt
903   2016-02-21  2016-04-21     15019  195521.15  1036.26             NaN
1002  2016-03-03  2016-04-18     14855  170276.77   902.47             NaN
1103  2016-03-06  2016-04-24     13010  164097.83   804.08             NaN
1205  2016-03-18  2016-05-02     13312  158392.02   712.76             NaN
1304  2016-03-20  2016-05-08     18422  257419.46  1390.07  Frank Delahunt
1407  2016-03-27  2016-05-23     17366  214028.06  1027.33             NaN
1507  2016-04-06  2016-06-01     14873  190511.13   857.30             NaN
1607  2016-04-13  2016-06-09     16090  199050.33  1035.06             NaN
1706  2016-04-19  2016-06-07     15193  220984.85  1127.02             NaN
1807  2016-04-29  2016-06-12     16679  227776.44  1138.88             NaN
1910  2016-05-02  2016-07-03     16039  181190.81   978.43             NaN
2005  2016-05-13  2016-07-08     14647  179195.54   985.58             NaN
2113  2016-05-15  2016-07-14     20007  283650.31  1560.08  Frank Delahunt
2215  2016-05-25  2016-07-23     20745  297968.12  1430.25  Frank Delahunt
2317  2016-06-01  2016-07-28     27324  481113.96  2357.46  Frank Delahunt
2423  2016-06-05  2016-07-24     20783  306451.12  1501.61  Frank Delahunt
2521  2016-06-14  2016-08-08     19012  265744.08  1222.42  Frank Delahunt
2622  2016-06-20  2016-08-08     15812  209653.20   964.40             NaN
2720  2016-06-25  2016-08-21      2524   38148.64   190.74             NaN
2809  2016-06-29  2016-08-11     24220  360832.00  1768.08  Frank Delahunt
2912  2016-07-08  2016-09-01     20354  320836.08  1540.01  Frank Delahunt
3012  2016-07-15  2016-09-09     21238  352950.75  1870.64  Frank Delahunt
3116  2016-07-22  2016-09-08     20014  305408.27  1527.04  Frank Delahunt
3215  2016-07-27  2016-09-23     17843  239908.07  1127.57             NaN
3313  2016-08-02  2016-09-28     17989  215610.62   991.81             NaN
3415  2016-08-08  2016-09-28     22195  320636.32  1571.12  Frank Delahunt
3522  2016-08-16  2016-09-29     19450  235097.07  1269.52             NaN
3618  2016-08-21  2016-10-09     17998  242967.77  1190.54             NaN
3725  2016-09-02  2016-10-21     18120  257530.21  1184.64  Frank Delahunt
3826  2016-09-05  2016-11-05     12998  158616.72   713.78             NaN
3929  2016-09-13  2016-11-10     14847  159874.59   783.39             NaN
4032  2016-09-21  2016-11-11     17432  226695.59  1065.47             NaN
4137  2016-09-23  2016-11-12       423    5009.04    25.05             NaN
4200  2016-09-25  2016-11-22     21757  286441.40  1288.99  Frank Delahunt
4301  2016-10-02  2016-12-02     19280  262711.21  1392.37  Frank Delahunt
4404  2016-10-10  2016-11-26     20615  280004.13  1316.02  Frank Delahunt
4508  2016-10-19  2016-12-09     21080  295495.96  1447.93  Frank Delahunt
4614  2016-10-24  2016-12-19     23824  338788.68  1795.58  Frank Delahunt
4716  2016-10-31  2016-12-29     23769  354155.84  1841.61  Frank Delahunt
4817  2016-11-06  2017-01-04     23501  356155.13  1638.31  Frank Delahunt
4918  2016-11-15  2017-01-04     16165  226877.57  1202.45             NaN
5024  2016-11-20  2017-01-21     20937  287164.72  1349.67  Frank Delahunt
5127  2016-12-02  2017-01-14     23409  290810.28  1337.73  Frank Delahunt
5227  2016-12-04  2017-01-28     25341  303869.01  1458.57  Frank Delahunt
5336  2016-12-12  2017-02-06     25337  301771.97  1478.68  Frank Delahunt
5443  2016-12-19  2017-02-13     33025  389511.96  2025.46  Frank Delahunt

In [52]:
df_InvoicePurchases.isnull().sum()

VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [53]:
df_no_nulos = df_InvoicePurchases[~df_InvoicePurchases.isnull().any(axis=1)]
print(df_no_nulos)

      VendorNumber                   VendorName InvoiceDate  PONumber  \
93             480  BACARDI USA INC              2016-01-19      8288
97            1128  BROWN-FORMAN CORP            2016-01-15      8210
109           3960  DIAGEO NORTH AMERICA INC     2016-01-14      8271
126          12546  JIM BEAM BRANDS COMPANY      2016-01-16      8241
137           4425        MARTIGNETTI COMPANIES  2016-01-18      8276
...            ...                          ...         ...       ...
5487          4425        MARTIGNETTI COMPANIES  2017-01-03     13584
5490          8112  MOET HENNESSY USA INC        2017-01-03     13635
5497         17035  PERNOD RICARD USA            2017-01-03     13597
5507          8004  SAZERAC CO INC               2017-01-10     13567
5532          9165  ULTRA BEVERAGE COMPANY LLP   2017-01-10     13658

          PODate     PayDate  Quantity     Dollars  Freight        Approval
93    2016-01-01  2016-02-18     32463   396606.13  1864.05  Frank Delahunt
97    2015-12-27  2016-02-25     23351   298902.89  1494.51  Frank Delahunt
109   2015-12-31  2016-02-11    100183   954454.16  4581.38  Frank Delahunt
126   2015-12-29  2016-02-15     56213   559691.95  2910.40  Frank Delahunt
137   2015-12-31  2016-02-28     42400   458222.53  2336.93  Frank Delahunt
...          ...         ...       ...         ...      ...             ...
5487  2016-12-19  2017-02-17     92470  1010674.21  4952.30  Frank Delahunt
5490  2016-12-22  2017-02-12     15003   316863.94  1457.57  Frank Delahunt
5497  2016-12-20  2017-02-16     48425   663584.35  3649.71  Frank Delahunt
5507  2016-12-18  2017-02-19     43240   318075.65  1494.96  Frank Delahunt
5532  2016-12-23  2017-02-19     38896   502128.05  2761.70  Frank Delahunt

[374 rows x 10 columns]

approval es la persona que aprobo la compra. est√° casi todo vac√≠o.

### PurchasesFinal

In [30]:
archivotemp5 =  r"C:\Data Anaytics\Proyectos\Inventario\Base de datos\PurchasesFINAL12312016.csv"

df_PurchasesFINAL= pd.read_csv(archivotemp5)

In [76]:
df_PurchasesFINAL.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [77]:
for e in list(df_PurchasesFINAL.columns):
    print(e)

InventoryId
Store
Brand
Description
Size
VendorNumber
VendorName
PONumber
PODate
ReceivingDate
InvoiceDate
PayDate
PurchasePrice
Quantity
Dollars
Classification

In [56]:
print(df_PurchasesFINAL.head(5))

           InventoryId  Store  Brand                   Description   Size  \
0    69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL

   VendorNumber                   VendorName  PONumber      PODate  \
0           105  ALTAMAR BRANDS LLC               8124  2015-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
3          4466  AMERICAN VINTAGE BEVERAGE        8137  2015-12-22
4           388  ATLANTIC IMPORTING COMPANY       8169  2015-12-24

  ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-02  2016-01-04  2016-02-16          35.71         6   214.26
1    2016-01-01  2016-01-07  2016-02-21           9.35         4    37.40
2    2016-01-02  2016-01-07  2016-02-21           9.41         5    47.05
3    2016-01-01  2016-01-07  2016-02-21           9.35         6    56.10
4    2016-01-02  2016-01-09  2016-02-16          21.32         5   106.60

   Classification
0               1
1               1
2               1
3               1
4               1

In [57]:
df_PurchasesFINAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [58]:
df_PurchasesFINAL.shape

(2372474, 16)

In [59]:
df_PurchasesFINAL.nunique()

InventoryId       245907
Store                 80
Brand              10664
Description         9652
Size                  51
VendorNumber         126
VendorName           129
PONumber            5543
PODate               319
ReceivingDate        364
InvoiceDate          373
PayDate              382
PurchasePrice       2151
Quantity             686
Dollars            33567
Classification         2
dtype: int64

no tiene clave √∫nica. Generarla

### Sales

In [31]:
archivotemp6 =  r"C:\Data Anaytics\Proyectos\Inventario\Base de datos\SalesFINAL12312016.csv"

df_SalesFINAL= pd.read_csv(archivotemp6)

In [78]:
df_SalesFINAL.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [79]:
for e in list(df_SalesFINAL.columns):
    print (e)

InventoryId
Store
Brand
Description
Size
SalesQuantity
SalesDollars
SalesPrice
SalesDate
Volume
Classification
ExciseTax
VendorNo
VendorName

In [62]:
print(df_SalesFINAL.head(5))

           InventoryId  Store  Brand                 Description        Size  \
0  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
1  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
2  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
3  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
4  1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack  375mL 2 Pk

   SalesQuantity  SalesDollars  SalesPrice SalesDate  Volume  Classification  \
0              1         16.49       16.49  1/1/2016     750               1
1              2         32.98       16.49  1/2/2016     750               1
2              1         16.49       16.49  1/3/2016     750               1
3              1         14.49       14.49  1/8/2016     750               1
4              2         69.98       34.99  1/9/2016     375               1

   ExciseTax  VendorNo                   VendorName
0       0.79     12546  JIM BEAM BRANDS COMPANY
1       1.57     12546  JIM BEAM BRANDS COMPANY
2       0.79     12546  JIM BEAM BRANDS COMPANY
3       0.79     12546  JIM BEAM BRANDS COMPANY
4       0.79     12546  JIM BEAM BRANDS COMPANY

In [82]:
sales_1128 = df_SalesFINAL[df_SalesFINAL['VendorNo']==1128]
print(sales_1128)

                 InventoryId  Store  Brand                   Description  \
158      1_HARDERSFIELD_1051      1   1051      Woodford Reserve MC 1838
159      1_HARDERSFIELD_1051      1   1051      Woodford Reserve MC 1838
166      1_HARDERSFIELD_1060      1   1060  Jack Daniels Bruins Glass Pk
167      1_HARDERSFIELD_1060      1   1060  Jack Daniels Bruins Glass Pk
168      1_HARDERSFIELD_1060      1   1060  Jack Daniels Bruins Glass Pk
...                      ...    ...    ...                           ...
1046322   19_WINTERVALE_2760     19   2760  Jack Daniels Tennessee Honey
1046323   19_WINTERVALE_2760     19   2760  Jack Daniels Tennessee Honey
1046324   19_WINTERVALE_2760     19   2760  Jack Daniels Tennessee Honey
1047754   19_WINTERVALE_3614     19   3614               Finlandia Vodka
1047755   19_WINTERVALE_3614     19   3614               Finlandia Vodka

          Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  Volume  \
158      750mL              1         99.99       99.99   1/4/2016     750
159      750mL              1         99.99       99.99  1/23/2016     750
166      Liter              2         55.98       27.99   1/1/2016    1000
167      Liter              1         27.99       27.99   1/2/2016    1000
168      Liter              1         31.99       31.99  1/11/2016    1000
...        ...            ...           ...         ...        ...     ...
1046322  1.75L              1         38.99       38.99  2/19/2016    1750
1046323  1.75L              1         38.99       38.99  2/23/2016    1750
1046324  1.75L              3        116.97       38.99  2/26/2016    1750
1047754  1.75L              1         22.99       22.99  2/10/2016    1750
1047755  1.75L              1         22.99       22.99  2/25/2016    1750

         Classification  ExciseTax  VendorNo                   VendorName
158                   1       0.79      1128  BROWN-FORMAN CORP
159                   1       0.79      1128  BROWN-FORMAN CORP
166                   1       2.10      1128  BROWN-FORMAN CORP
167                   1       1.05      1128  BROWN-FORMAN CORP
168                   1       1.05      1128  BROWN-FORMAN CORP
...                 ...        ...       ...                          ...
1046322               1       1.84      1128  BROWN-FORMAN CORP
1046323               1       1.84      1128  BROWN-FORMAN CORP
1046324               1       5.51      1128  BROWN-FORMAN CORP
1047754               1       1.84      1128  BROWN-FORMAN CORP
1047755               1       1.84      1128  BROWN-FORMAN CORP

[31171 rows x 14 columns]

In [5]:
df_SalesFINAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB

Verificar que columna es √∫nica

In [71]:
unico = 0
for columna in df_SalesFINAL.columns:
    if df_SalesFINAL[columna].nunique() == df_SalesFINAL.shape[0]:
        print (f'{columna} es unica' )
        unico = 1
if unico == 0 :
    print ('no hay identificador √∫nico')

no hay identificador √∫nico

In [64]:
Cantidad_filas = df_SalesFINAL.shape[0]
print(Cantidad_filas)

1048575

In [65]:
DF_unicos = df_SalesFINAL.nunique()
print(DF_unicos)

InventoryId       170131
Store                 79
Brand               7658
Description         6890
Size                  40
SalesQuantity        141
SalesDollars        3426
SalesPrice           273
SalesDate             60
Volume                22
Classification         2
ExciseTax            468
VendorNo             116
VendorName           117
dtype: int64

In [66]:
DF_unicos = DF_unicos.reset_index()
print(DF_unicos)

             index       0
0      InventoryId  170131
1            Store      79
2            Brand    7658
3      Description    6890
4             Size      40
5    SalesQuantity     141
6     SalesDollars    3426
7       SalesPrice     273
8        SalesDate      60
9           Volume      22
10  Classification       2
11       ExciseTax     468
12        VendorNo     116
13      VendorName     117

In [67]:
DF_unicos.columns=['columna','cantidad de unicos']
print(DF_unicos)

           columna  cantidad de unicos
0      InventoryId              170131
1            Store                  79
2            Brand                7658
3      Description                6890
4             Size                  40
5    SalesQuantity                 141
6     SalesDollars                3426
7       SalesPrice                 273
8        SalesDate                  60
9           Volume                  22
10  Classification                   2
11       ExciseTax                 468
12        VendorNo                 116
13      VendorName                 117

In [68]:
columna_id= DF_unicos[DF_unicos['cantidad de unicos']==Cantidad_filas]
print(columna_id)

Empty DataFrame
Columns: [columna, cantidad de unicos]
Index: []

NO hay clave de identificaci√≥n √∫nica. Crear SalesID

Verificar si esta el producto que tiene valores nulos

In [26]:
if df_SalesFINAL[df_SalesFINAL['Brand'] == 4202].empty & df_PurchasesFINAL[df_PurchasesFINAL['Brand'] == 4202].empty & df_BegInv[df_BegInv['Brand'] == 4202].empty & df_EndInv[df_EndInv['Brand'] == 4202].empty:
    print('no se encontr√≥ Brand 4202, se puede eliminar')
else:
    print('Brand 4202 no se puede eliminar')

no se encontr√≥ Brand 4202, se puede eliminar